/* mobile */
@media screen and (max-width:940px) {
    .banner .content {
        position: absolute;
        top: 5%;
        color: white;
    }

    .banner .content h2 {
        line-height: 40px;
        width: 100%;
        font-size: 25px;
        color: #ffffff;
        font-family: "a Absolute Empire";
        filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
    }

    .banner .content p {
        width: 100% !important;
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Poppins";
    }

    .readMoreBtn {
        width: 130px;
        height: 40px;
        border-radius: 4px;
        background-color: #000000;
        border: 1px solid #ffffff;
        color: #ffffff !important;
        font-size: 20px;
        font-weight: 400;
        font-family: "Roboto Slab";
    }


}

@media only screen and (max-width: 600px) {

    /* banner */
    .banner .content {
        width: 95%;
        position: absolute;
        top: 5%;
        color: white;
        padding-left: 0px !important;
    }

    .banner .content h2 {
        line-height: 40px;
        width: 100%;
        font-size: 25px;
        color: #ffffff;
        font-family: "a Absolute Empire";
        filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
    }

    .banner .content p {
        width: 100% !important;
        font-size: 15px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Poppins";
    }

    .readMoreBtn {
        width: 130px;
        height: 40px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid #ffffff;
        color: #ffffff !important;
        font-size: 20px;
        font-weight: 400;
        font-family: "Roboto Slab";
    }

    /* About Us */
    #aboutUs {
        background-color: #0d0c1d;
        height: max-content;
        color: white;
    }

    #aboutUs img {
        border: 3px solid #ffffff;
        width: 100%;
        height: 100%;
    }

    #aboutUs strong {
        font-size: 20px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Roboto Slab";
    }

    #aboutUs h2 {
        font-size: 44px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto Slab";
    }

    #aboutUs p {
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Poppins";
    }

    /* services */

    #services {
        background-color: #0d0c1d;
        height: max-content;
        width: 100%;
        color: white;
    }

    #services .heading strong {
        font-size: 24px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Roboto Slab";
        text-align: center;
    }

    #services .heading h2 {
        font-size: 44px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto Slab";
        text-align: center;
    }

    .carousel .item .cBox {
        width: 100%;
        height: 50vh !important;
        border-radius: 10px;
        background-image: linear-gradient(180deg, #0f0e21 0%, #1d1b3b 100%);
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }

    .carousel .item .cBox .info h3 {
        font-size: 30px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Poppins";
        text-align: center;
    }

    .carousel .item .cBox p {
        font-size: 18px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Poppins";
        text-align: center;
    }

    .carousel {
        width: 100%;
        padding: 10px 10px;
    }

    #services .carousel .item {
        padding: 10px;
        color: #747d89;
        max-height: 100% !important;
        text-align: center;
        overflow: hidden;
    }

    #services .carousel .item .img-box {
        height: 100px;
        width: 100%;
        position: relative;
    }

    #services .carousel .item img {
        max-width: 100px;
        max-height: 100px;
        display: inline-block;
        position: relative;

    }

    #services .carousel .item strong {
        font-size: 25px;
        color: black;
    }

    .carousel .carousel-control-prev {
        border: white solid 2px !important;
        max-width: 45px;
        height: 45px;
        margin: auto 0;
        display: block;
        opacity: 1;
        border-radius: 4px;
        margin-top: 10px;
        position: relative;
        float: left;
    }

    .carousel .carousel-control-next {
        border: white solid 2px !important;
        max-width: 45px;
        height: 45px;
        margin: auto 0;
        display: block;
        opacity: 1;
        border-radius: 4px;
        margin-top: 10px;
        position: relative;
        float: right;
    }

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        border: #ffffff solid 2px;
        background: transparent;
        opacity: 1;
    }

    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 30px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -20px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #ffffff !important;
        text-shadow: none;
        font-weight: bold;
    }

    .carousel-control-prev i {
        margin-left: -2px;
    }

    .carousel-control-next i {
        margin-right: -4px;
    }

    /* KeySectors */

    #keySectors .carousel-indicators {
        position: relative;
        color: white;
    }

    #keySectors {
        background-color: #0d0c1d;
        height: 100%;
        width: 100%;
        color: white;
    }

    .carousel-indicators button.btn {
        width: 10px;
        display: flex;
    }

    #keySectors .heading h2 {
        font-size: 44px;
        color: #ffffff;
        font-weight: 600;
        font-family: "Poppins";
        text-align: center;
    }

    #keySectors .heading p {
        font-size: 24px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Poppins";

    }

    #keySectors .carousel {
        width: 100%;
        height: 100%;
    }

    #keySectors .carousel .mySingleCard {
        height: 100%;
        border: #ffffff 1px solid;
        border-radius: 5px;
        background-image: linear-gradient(180deg, #0f0e21 0%, #1d1b3b 100%);
    }

    #keySectors .carousel .mySingleCard img {
        width: 100%;
    }

    /* portfolioBanner */

    #portfolioBanner {
        height: max-content;
        background-image: linear-gradient(180deg, #0f0e21 0%, #1d1b3b 100%);
        color: white;
        padding: 20px;
    }

    #portfolioBanner .row {
        padding-top: 10px;
        font-family: 'Poppins';
        font-weight: 400;
    }

    #portfolioBanner .chart {
        border-radius: 50%;
        border: white 1px solid;
        position: relative;
        width: 125px;
        height: 125px;
        margin: 0 auto;
        font-family: 'Poppins';
        font-weight: 300;

    }

    #portfolioBanner canvas {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

    }

    #portfolioBanner span {
        color: white;
        display: block;
        line-height: 125px;
        text-align: center;
        width: 125px;
        font-size: 40px;
        font-weight: 300;
        margin-left: 5px;
    }

    #portfolioBanner .rBox {
        text-align: center;
        border: white solid 1px;
        max-width: 100px;
        max-height: 100px;
        border-radius: 50%;
        padding: 50px;
    }

    /* testimonials */
    #testimonials {
        background-color: #0d0c1d;
        color: white;
    }

    #testimonials .heading strong {
        font-size: 24px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Roboto Slab";
        text-align: center;
    }

    #testimonials .heading h2 {
        font-size: 44px;
        line-height: 60px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Roboto Slab";
        text-align: center;
    }

    #testimonials .myCard {
        padding: 10px;
        height: 65vh;
        width: 100%;
        margin-top: 10px;
        background-image: linear-gradient(180deg, #0f0e21 0%, #1d1b3b 100%);
        border: #ffffff solid 1px;
        border-radius: 5px;
    }

    #testimonials .myCard i {
        color: gold;
    }

    #testimonials .myCard p {
        color: white;
        font-size: 18px;
        color: #ffffff;
        font-weight: 300;
        font-family: "Poppins";
        text-align: left;
    }

    #testimonials .myCard span {
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Manrope";
    }

    #testimonials .myCard img {
        width: 45px;
        border-radius: 50%;
        padding: 5px;
    }

    /* brands */

#brands {
    background-color: #ffffff;
    height: 100%;
}


}