@import url('http://fonts.cdnfonts.com/css/a-absolute-empire');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

.nv-bg-dark {
    background-color: #0d0c1d;
}

.navBrand{
    width: 120px;
}

.navbar .nav-link {
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    margin: 10px;
}

nav .btn-danger{
    background-color: #f11729;
    letter-spacing: 1px;
}


#footer {
    background-color: black;
    color: white;
    font-family: "Poppins";
    padding: 10px;
}

#footer .col-md-5 p {
    width: 271px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

#footer ul {
    text-align: left;
    align-items: flex-start;
    list-style: none;
}


#footer a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins";
}

#footer strong {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}


#footer .social .bi {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  #footer .social .bi:hover {
      opacity: 0.7;
  }
  
  #footer .social .bi-facebook {
    background: #3B5998;
    color: white;
  }
  
  #footer .social .bi-twitter {
    background: #55ACEE;
    color: white;
  }
  
  #footer .social .bi-google {
    background: #dd4b39;
    color: white;
  }
  