.nv-bg-dark {
    background-color: #0d0c1d;
}

.navbar .nav-link {
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}

#footer {
    background-color: black;
    color: white;
    font-family: "Poppins";
    padding: 10px;
}

#footer .col-md-5 p {
    width: 271px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}

#footer ul {
    list-style: none;
}


#footer a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins";
}

#footer strong{
    font-size: 31px;
color: #ffffff;
font-weight: 600;
font-family: "Poppins";
}

#footer i.bi {
    font-size: 45px;
    width: 45px !important;
    height: 45px !important;
}

#footer i.bi-facebook {
    color: blue;
    width: 45px !important;
    height: 45px !important;
}

#footer i.bi-twitter {
    color: cadetblue;
    width: 45px !important;
    height: 45px !important;
}

#footer i.bi-google {
    width: 45px !important;
    height: 45px !important;
    color: red;
}